form {
    width: 30%;
    background: linear-gradient(#7890df, #3f3dd3, #5e6783);
}

h2{
    color: white;
}

span{
    color:springgreen;
}

h3{
    width: 30%;
    height: 40px;
    background: linear-gradient(#7890df, #3f3dd3, #5e6783);
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

input {
    margin: 10px
}

table {
    table-layout: fixed;
    color: white;
}

p{
    color: white;
}