.wrapper{
    display: grid;
    justify-content: center;
}
.wrapper a {
    text-align: end;
}
.wrapper h1 {
    text-align: center;
}
.data{
    margin-left: 20px;
}
span{
    font-weight: bold;
}
.actions_update{
    display: grid;
    justify-content: center;
}