<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Checkedboard</title>
</head>
<body>
    <div class='wrapper'>
        {% for i in range(row) %}
            <div>
                {% for j in range(col) %}
                    {% set color = color2 %}
                    {% if (j+i)%2 == 0 %}
                        {% set color = color1 %}
                    {% endif%}
                    <div class="bloque" style="background: {{ color }};"></div>
                {% endfor %}
            </div>
        {% endfor%}
    </div>
</body>
</html>