<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' ) }}">
    <title>Ninja Gold</title>
</head>
<body>
    <div class="wrapper">
        <div class="score">
            <p>Your Gold:</p><input id="golds" type="text" value="{{session['golds']}}" size="10" maxlength="10">
        </div>
        <div class="forms">
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="farm" />
                <h2>Farm</h2>
                <h5>(earns 10-20 golds)</h5>
                <input class="findgold" type="submit" value="Find Gold!"/>
            </form>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="cave" />
                <h2>Cave</h2>
                <h5>(earns 5-10 golds)</h5>
                <input class="findgold" type="submit" value="Find Gold!"/>
            </form>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="house" />
                <h2>House</h2>
                <h5>(earns 2-5 golds)</h5>
                <input class="findgold" type="submit" value="Find Gold!"/>
            </form>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="casino" />
                <h2>Casino</h2>
                <h5>(earns 0-50 golds)</h5>
                <input class="findgold" type="submit" value="Find Gold!"/>
            </form>
        </div>
        <footer>
            <p>Activities:</p>
            <div class="activities">
                {% for act in session['activities'][::-1] %}
                    {{ act }}
                {% endfor %}
            </div>
            <form action="/destroy_session" method="POST">
                <input class="reset" type="submit" value="Reset">
            </form>
        </footer>
    </div>
</body>
</html>