<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body class="login-body">
    <div class="login-wrapper">
        <div class="login-windows">
            <div class="login-title">Login</div>
            <div class="login-content">
                <form class="login-form" action="/login" method="POST">
                    {% csrf_token %}
                    <div class="login-text">
                        <p>Email:</p><input type="text" size="100" name="email"/>
                    </div>
                    <div class="login-text">
                        <p>Password:</p><input type="text" size="100" name="password"/>
                    </div>
                    <a class="registrarme" href="/register">Registrarme</a>
                    <div class="login-buttons">
                        <input type="submit" value="Login" />
                        <input type="submit" value="Limpiar" />
                    </div>
                </form>
            </div>
            <footer class="login-text-footer">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </footer>
        </div>
    </div>
</body>
</html>