<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Random Word</title>
</head>
<body>
    <h3>Random Word (attempt #{{ attempt }})</h3>
    <h1>{{ random_word }}</h1>
    <div class="botones">
        <form action="/random_word" method="POST">
            {% csrf_token %}
            <input type="submit" value="Generate">
        </form>
        <form action="/reset" method="POST">
            {% csrf_token %}
            <input type="submit" value="Reset">
        </form>
    </div>
</body>
</html>